<!DOCTYPE html>
<html>
<head>
  <title>RockPaperScissors</title>
  <link rel="stylesheet" media="all" href="/assets/application-e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855.css" />
  <script src="/assets/application-25bd6b47ad2ef49757a639cd9dc9d7c4b137f7a0bf03bb8d13757d905d6dfcef.js"></script>
  <meta name="csrf-param" content="authenticity_token" />
  <meta name="csrf-token" content="3AXTT/WloyyNunenPVmAPACuqPImeJwcEl4N8g7/vqqoc+5jv6veMJ3/MwEZVz3m/bvxVGMY0StbGqSFqeH59A==" />

  <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.css">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

  <style>
  .move-icon {
    font-size: 144px;
  }
  </style>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= yield %>

</body>
</html>
